// place your custom styles here

#iframe_pofol{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
}

.vp-blog-hero{
    display: none;
}

.vp-hero-info-wrapper{
    text-align: center;
}