// place your custom styles here

#iframe_pofol{
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
}

#main-content.vp-portfolio-home {
    padding-top: 0;
}
  

.vp-portfolio-home{
    padding-bottom:0;
}

#portfolio + div{
    display: none;
}

.vp-hero-info-wrapper{
    text-align: center;
}

.vp-sidebar {
    > ul{
        // li 안에 있는 a 태그와 section 안의 p 태그에 각각 스타일 적용
        > li {
            // section 안의 p 태그 텍스트 크기 변경
            section {
                > p {
                    // font-size: 1.3em; // 원하는 크기로 설정
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
    }
}

.vp-sidebar > ul.vp-sidebar-links > li > a {
    font-weight: 500;
    text-decoration: underline;
}



